## Scott Breitbach
### DSC 650, Week 7
### 01-May-2022

In [1]:
# Load libraries
import os
import json
from pathlib import Path
import gzip
import hashlib
import shutil
import pandas as pd
import pygeohash
import s3fs
import uuid
import math
import hashlib

In [2]:
# Set directories
current_dir = Path(os.getcwd()).absolute()
results_dir = current_dir.joinpath('results')
if results_dir.exists():
    shutil.rmtree(results_dir)
results_dir.mkdir(parents=True, exist_ok=True)
src_data_path = '/home/jovyan/dsc650/data/processed/openflights/routes.jsonl.gz'

In [3]:
def read_jsonl_data():
    with gzip.open(src_data_path, 'rb') as f:
        records = [json.loads(line) for line in f.readlines()]       
    return records

In [4]:
def flatten_record(record):
    flat_record = dict()
    for key, value in record.items():
        if key in ['airline', 'src_airport', 'dst_airport']:
            if isinstance(value, dict):
                for child_key, child_value in value.items():
                    flat_key = '{}_{}'.format(key, child_key)
                    flat_record[flat_key] = child_value
        else:
            flat_record[key] = value
    
    return flat_record

In [5]:
def create_flattened_dataset():
    records = read_jsonl_data()
    parquet_path = results_dir.joinpath('routes-flattened.parquet')
    return pd.DataFrame.from_records([flatten_record(record) for record in records])

## Assignment 7.1
In this part of the assignment, you will partition a dataset using different strategies. You will use the `routes.parquet` dataset you created in a previous assignment. For this dataset, the key for each route will be the three-letter source airport code concatenated with the three-letter destination airport code and the two-letter airline. For instance, a route from Omaha Eppley Airfield (OMA) to Denver International Airport (DEN) on American Airlines (AA) has a key of `OMADENAA`.

### a. 
Start by loading the dataset from the previous assignment using Pandas's [`read_parquet()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_parquet.html) method. Next, add the concatenated key then using Panda's [`apply()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html) method to create a new column called `key`.

In [6]:
# Load dataframe
df = create_flattened_dataset()
# Assign keys
df['key'] = df['src_airport_iata'].astype(str) + df['dst_airport_iata'].astype(str) + df['airline_iata'].astype(str)

For this part of the example, we will create 16 partitions so that we can compare it to the partitions we create from hashed keys in the next part of the assignment. The partitions are determined by the first letter of the composite key using the following partitions.

In [7]:
partitions = (
    ('A', 'A'), ('B', 'B'), ('C', 'D'), ('E', 'F'),
    ('G', 'H'), ('I', 'J'), ('K', 'L'), ('M', 'M'),
    ('N', 'N'), ('O', 'P'), ('Q', 'R'), ('S', 'T'),
    ('U', 'U'), ('V', 'V'), ('W', 'X'), ('Y', 'Z')
)

In this case `('A', 'A')` means the folder should contain all of the routes whose composite key starts with `A`. Similarly, `('E', 'F')` should contain routes whose composite key starts with `E` or `F`.

The `results/kv` directory should contain the following folders.

In [8]:
# kv
# ├── kv_key=A
# ├── kv_key=B
# ├── kv_key=C-D
# ├── kv_key=E-F
# ├── kv_key=G-H
# ├── kv_key=I-J
# ├── kv_key=K-L
# ├── kv_key=M
# ├── kv_key=N
# ├── kv_key=O-P
# ├── kv_key=Q-R
# ├── kv_key=S-T
# ├── kv_key=U
# ├── kv_key=V
# ├── kv_key=W-X
# └── kv_key=Y-Z

An easy way to create this directory structure is to create a new key called `kv_key` from the `key` column and use the [`to_parquet()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_parquet.html) method with `partition_cols=['kv_key']` to save a partitioned dataset.

In [9]:
# Set up dictionary of partitions and kv_keys
partition_dict = {}
for i in partitions:
    if i[0] == i[1]:
        partition_dict[i] = i[0]
    else:
        partition_dict[i] = i[0] + '-' + i[1]

In [10]:
# Generate kv_key from key
def kv_key_gen(data_key):
    for key, val in partition_dict.items():
        if data_key[0] == key[0] or data_key[0] == key[1]:
            return val
    return ''

In [11]:
# Add kv_key column to df
df['kv_key'] = df['key'].apply(kv_key_gen)

In [12]:
df[['key', 'kv_key']]

            key kv_key
0      AERKZN2B      A
1      ASFKZN2B      A
2      ASFMRV2B      A
3      CEKKZN2B    C-D
4      CEKOVB2B    C-D
...         ...    ...
67658  WYAADLZL    W-X
67659  DMEFRUZM    C-D
67660  FRUDMEZM    E-F
67661  FRUOSSZM    E-F
67662  OSSFRUZM    O-P

[67663 rows x 2 columns]

In [13]:
# Partition dataset using kv_keys
df.to_parquet(results_dir.joinpath('kv'), partition_cols=['kv_key'])

### b.
Next, we are going to partition the dataset again, but this time we will partition by the hash value of the key. The following is a function that will create a SHA256 hash of the input key and return a hexadecimal string representation of the hash.

In [14]:
import hashlib

def hash_key(key):
    m = hashlib.sha256()
    m.update(str(key).encode('utf-8'))
    return m.hexdigest()

We will partition the data using the first character of the hexadecimal hash. As such, there are 16 possible partitions. Create a new column called `hashed` that is a hashed value of the `key` column. Next, create a partitioned dataset based on the first character of the hashed key and save the results to `results/hash`. The directory should contain the following folders.

In [15]:
# hash
# ├── hash_key=0
# ├── hash_key=1
# ├── hash_key=2
# ├── hash_key=3
# ├── hash_key=4
# ├── hash_key=5
# ├── hash_key=6
# ├── hash_key=7
# ├── hash_key=8
# ├── hash_key=9
# ├── hash_key=A
# ├── hash_key=B
# ├── hash_key=C
# ├── hash_key=D
# ├── hash_key=E

In [16]:
# Add hash column to df
df['hashed'] = df['key'].apply(hash_key)

In [17]:
# Add hash key column to df for partitioning
df['hash_key'] = df['hashed'].str[0]

In [18]:
# Partition dataset using hk_hash
df.to_parquet(results_dir.joinpath('hash'), partition_cols=['hash_key'])

### c.
Finally, we will simulate multiple geographically distributed data centers. For this example, we will assume we have three data centers located in the western, central, and eastern United States. Google lists the [locations of their data centers](https://www.google.com/about/datacenters/locations/) and we will use the following locations for our three data centers.  
**West**
* The Dalles, Oregon
* Latitude: 45.5945645
* Longitude: -121.1786823  

**Central**
* Papillion, NE
* Latitude: 41.1544433
* Longitude: -96.0422378  

**East**
* Loudoun County, Virginia
* Latitude: 39.08344
* Longitude: -77.6497145  

Assume that you have an application that provides routes for each of the source airports and you want to store routes in the data center closest to the source airport. The output folders should look as follows.

In [19]:
# geo
# ├── location=central
# ├── location=east
# └── location=west

In [20]:
# Get geohash location info for data centers
data_centers = dict(
    west = pygeohash.encode(45.5945645, -121.1786823),
    central = pygeohash.encode(41.1544433, -96.0422378),
    east = pygeohash.encode(39.08344, -77.6497145)
)

In [21]:
# Get geohash location info for airports
fn = lambda row: pygeohash.encode(row.src_airport_latitude, 
                                  row.src_airport_longitude)
# Add geohash to dataframe
df['geohash'] = df.apply(fn, axis=1)

In [22]:
def find_closest_datacenter(airport_geohash):
    distance = 20000000
    closest = ''
    for key, val in data_centers.items():
        if pygeohash.geohash_haversine_distance(val, airport_geohash) < distance:
            closest = key
            distance = pygeohash.geohash_haversine_distance(val, airport_geohash)

    return closest

In [23]:
# Add column for closest data center
df['location'] = df['geohash'].apply(find_closest_datacenter)

The history saving thread hit an unexpected error (OperationalError('database is locked')).History will not be written to the database.

In [24]:
# Partition dataset using closest data center location
df.to_parquet(results_dir.joinpath('geo'), partition_cols=['location'])

### d.
Create a Python function that takes as input a list of keys and the number of partitions and returns a list of keys sorted into the specified number of partitions. The partitions should be roughly equal in size. Furthermore, the partitions should have the property that each partition contains all the keys between the least key in the partition and the greatest key in the partition. In other words, the partitions should be ordered.

In [25]:
# Create a list for testing purposes
some_keys = ['S', 'C', 'O', 'T', 'T',
             'M', 'I', 'C', 'H', 'A', 'E', 'L', 
             'B', 'R', 'E', 'I', 'T', 'B', 'A', 'C', 'H']

In [26]:
def sharded(keys, num_partitions):
    for x in range(0, len(keys), num_partitions):
        chunk = keys[x:num_partitions+x]
        yield(chunk)
        
def balance_partitions(keys, num_partitions):
    keys.sort()
    num_per_group = math.ceil(len(keys) / num_partitions)
    return list(sharded(keys, num_per_group))

In [27]:
balance_partitions(some_keys, 3)

[['A', 'A', 'B', 'B', 'C', 'C', 'C'],
 ['E', 'E', 'H', 'H', 'I', 'I', 'L'],
 ['M', 'O', 'R', 'S', 'T', 'T', 'T']]

Looks good, but let's try it with uneven groups:

In [28]:
# Create a list for testing purposes
some_keys = ['S', 'C', 'O', 'T', 'T', 'Y',
             'M', 'I', 'C', 'H', 'A', 'E', 'L', 
             'B', 'R', 'E', 'I', 'T', 'B', 'A', 'C', 'H']

In [29]:
balance_partitions(some_keys, 3)

[['A', 'A', 'B', 'B', 'C', 'C', 'C', 'E'],
 ['E', 'H', 'H', 'I', 'I', 'L', 'M', 'O'],
 ['R', 'S', 'T', 'T', 'T', 'Y']]

Last group is uneven due to rounding. Let's try to fix that:

In [30]:
def sharded(keys, n):
    # Get the total number of keys
    num_keys = len(keys)
    # Number of partitions left to make
    num_part_left = n   
    # Set indices for start and end of partition chunk
    chunk_start, chunk_end = 0, math.ceil(num_keys/num_part_left)
    # Number of keys left to partition
    num_keys_left = num_keys - chunk_start
    for x in range(0, n):
        # Create partition chunk
        chunk = keys[chunk_start:chunk_end]
        # Reduce remaining partitions by 1
        num_part_left -= 1
        # Set start index to previous end index
        chunk_start = chunk_end
        # Number of keys left to partition
        num_keys_left = num_keys - chunk_end
        # Calculate end index for next chunk
        if num_part_left > 0: # Note: cannot divide by zero
            chunk_end = chunk_start + math.ceil(num_keys_left/(num_part_left))
        else:
            chunk_end = chunk_start + num_keys_left
        yield(chunk)

In [31]:
def balance_partitions(keys, num_partitions):
    # Sort list of keys
    keys.sort()
    # Return list of partitions
    return list(sharded(keys, num_partitions))

In [32]:
balance_partitions(some_keys, 3)

[['A', 'A', 'B', 'B', 'C', 'C', 'C', 'E'],
 ['E', 'H', 'H', 'I', 'I', 'L', 'M'],
 ['O', 'R', 'S', 'T', 'T', 'T', 'Y']]

That looks better, now let's make it work with a column from the dataframe:

In [33]:
def balance_partitions(keys, num_partitions):
    # Sort list of keys
    try: # sort df column input
        sorted_keys = keys.sort_values()
    except: # sort list input
        sorted_keys = keys
        sorted_keys.sort()
    # Return list of partitions
    return list(sharded(sorted_keys, num_partitions))

In [34]:
balance_partitions(some_keys, 3)

[['A', 'A', 'B', 'B', 'C', 'C', 'C', 'E'],
 ['E', 'H', 'H', 'I', 'I', 'L', 'M'],
 ['O', 'R', 'S', 'T', 'T', 'T', 'Y']]

In [35]:
balance_partitions(df['airline_country'], 1000)

[11836    ALASKA
 11879    ALASKA
 11878    ALASKA
 11877    ALASKA
 11876    ALASKA
           ...
 11882    ALASKA
 11913    ALASKA
 11849    ALASKA
 11847    ALASKA
 11812    ALASKA
 Name: airline_country, Length: 68, dtype: object,
 11811    ALASKA
 11810    ALASKA
 11809    ALASKA
 11808    ALASKA
 11807    ALASKA
           ...
 11915    ALASKA
 11916    ALASKA
 12013    ALASKA
 12012    ALASKA
 12011    ALASKA
 Name: airline_country, Length: 68, dtype: object,
 12010    ALASKA
 12009    ALASKA
 12008    ALASKA
 12007    ALASKA
 12006    ALASKA
           ...
 11945    ALASKA
 11944    ALASKA
 11943    ALASKA
 11942    ALASKA
 11941    ALASKA
 Name: airline_country, Length: 68, dtype: object,
 11940    ALASKA
 11939    ALASKA
 11938    ALASKA
 11937    ALASKA
 11936    ALASKA
           ...
 11612    ALASKA
 11611    ALASKA
 11610    ALASKA
 11609    ALASKA
 11608    ALASKA
 Name: airline_country, Length: 68, dtype: object,
 11607    ALASKA
 11606    ALASKA
 11605    ALASKA
 11604    ALASKA
 11603    ALASKA
           ...
 11544    ALASKA
 11543    ALASKA
 11542    ALASKA
 11541    ALASKA
 11540    ALASKA
 Name: airline_country, Length: 68, dtype: object,
 11539    ALASKA
 11538    ALASKA
 11537    ALASKA
 11536    ALASKA
 11535    ALASKA
           ...
 11741    ALASKA
 11740    ALASKA
 11739    ALASKA
 11738    ALASKA
 11737    ALASKA
 Name: airline_country, Length: 68, dtype: object,
 11736    ALASKA
 11735    ALASKA
 11734    ALASKA
 11733    ALASKA
 11732    ALASKA
           ...
 11672    ALASKA
 11671    ALASKA
 11670    ALASKA
 11669    ALASKA
 11668    ALASKA
 Name: airline_country, Length: 68, dtype: object,
 11667     ALASKA
 11666     ALASKA
 11665     ALASKA
 11664     ALASKA
 11663     ALASKA
           ...
 12331    AVIANCA
 12333    AVIANCA
 12334    AVIANCA
 12335    AVIANCA
 12336    AVIANCA
 Name: airline_country, Length: 68, dtype: object,
 12337    AVIANCA
 12338    AVIANCA
 12322    AVIANCA
 12321    AVIANCA
 12320    AVIANCA
           ...
 12379    AVIANCA
 12301    AVIANCA
 12299    AVIANCA
 12554    AVIANCA
 12553    AVIANCA
 Name: airline_country, Length: 68, dtype: object,
 12552    AVIANCA
 12551    AVIANCA
 12550    AVIANCA
 12549    AVIANCA
 12548    AVIANCA
           ...
 12529    AVIANCA
 12518    AVIANCA
 12528    AVIANCA
 12526    AVIANCA
 12525    AVIANCA
 Name: airline_country, Length: 68, dtype: object,
 12524    AVIANCA
 12523    AVIANCA
 12522    AVIANCA
 12521    AVIANCA
 12520    AVIANCA
           ...
 12497    AVIANCA
 12498    AVIANCA
 12499    AVIANCA
 12500    AVIANCA
 12501    AVIANCA
 Name: airline_country, Length: 68, dtype: object,
 12381    AVIANCA
 12473    AVIANCA
 12445    AVIANCA
 12458    AVIANCA
 12443    AVIANCA
           ...
 12440    AVIANCA
 12441    AVIANCA
 12442    AVIANCA
 12420    AVIANCA
 12419    AVIANCA
 Name: airline_country, Length: 68, dtype: object,
 1202     Afghanistan
 48136    Afghanistan
 1203     Afghanistan
 1204     Afghanistan
 1205     Afghanistan
             ...
 10219        Algeria
 10218        Algeria
 10217        Algeria
 10216        Algeria
 10215        Algeria
 Name: airline_country, Length: 68, dtype: object,
 10214    Algeria
 10083    Algeria
 10069    Algeria
 10071    Algeria
 10072    Algeria
           ...
 10177    Algeria
 10176    Algeria
 10175    Algeria
 10174    Algeria
 10173    Algeria
 Name: airline_country, Length: 68, dtype: object,
 10172    Algeria
 10171    Algeria
 10170    Algeria
 10169    Algeria
 10167    Algeria
           ...
 10107    Algeria
 10106    Algeria
 10105    Algeria
 10104    Algeria
 10103    Algeria
 Name: airline_country, Length: 68, dtype: object,
 10102    Algeria
 10101    Algeria
 10100    Algeria
 10099    Algeria
 10098    Algeria
           ...
 10054    Algeria
 10055    Algeria
 10056    Algeria
 10057    Algeria
 10058    Algeria
 Name: airline_country, Length: 68, dtype: object,
 10059    Algeria
 10060    Algeria
 10061    Algeria
 10062    Algeria
 10063    Algeria
           ...
 22045     Angola
 22046     Angola
 22035     Angola
 22047     Angola
 22049     Angola
 Name: airline_country, Length: 68, dtype: object,
 22050                 Angola
 22051                 Angola
 22052                 Angola
 22053                 Angola
 22054                 Angola
                 ...
 38905    Antigua and Barbuda
 38904    Antigua and Barbuda
 38910    Antigua and Barbuda
 38918    Antigua and Barbuda
 38935    Antigua and Barbuda
 Name: airline_country, Length: 68, dtype: object,
 38920    Antigua and Barbuda
 38945    Antigua and Barbuda
 38944    Antigua and Barbuda
 38943    Antigua and Barbuda
 38942    Antigua and Barbuda
                 ...
 40919              Argentina
 28293              Argentina
 40920              Argentina
 40922              Argentina
 40923              Argentina
 Name: airline_country, Length: 68, dtype: object,
 40924    Argentina
 40925    Argentina
 40926    Argentina
 40927    Argentina
 40928    Argentina
            ...
 11455    Argentina
 11456    Argentina
 11457    Argentina
 11458    Argentina
 11452    Argentina
 Name: airline_country, Length: 68, dtype: object,
 11478    Argentina
 11479    Argentina
 11480    Argentina
 11500    Argentina
 11501    Argentina
            ...
 4477     Argentina
 4476     Argentina
 4475     Argentina
 4474     Argentina
 11387    Argentina
 Name: airline_country, Length: 68, dtype: object,
 11386    Argentina
 11385    Argentina
 11384    Argentina
 1066     Argentina
 1065     Argentina
            ...
 40948    Argentina
 11413    Argentina
 11415    Argentina
 11411    Argentina
 4469     Argentina
 Name: airline_country, Length: 68, dtype: object,
 4468     Argentina
 4467     Argentina
 4466     Argentina
 4465     Argentina
 4464     Argentina
            ...
 46987    Australia
 46984    Australia
 46980    Australia
 46982    Australia
 46981    Australia
 Name: airline_country, Length: 68, dtype: object,
 46993    Australia
 46979    Australia
 46978    Australia
 46977    Australia
 46976    Australia
            ...
 47118    Australia
 47117    Australia
 47116    Australia
 47115    Australia
 47114    Australia
 Name: airline_country, Length: 68, dtype: object,
 47113    Australia
 47112    Australia
 47111    Australia
 47110    Australia
 47109    Australia
            ...
 46967    Australia
 61221    Australia
 61223    Australia
 61224    Australia
 61225    Australia
 Name: airline_country, Length: 68, dtype: object,
 61226    Australia
 61227    Australia
 61228    Australia
 61229    Australia
 61230    Australia
            ...
 47066    Australia
 47051    Australia
 47049    Australia
 47048    Australia
 47047    Australia
 Name: airline_country, Length: 68, dtype: object,
 47046    Australia
 47045    Australia
 47044    Australia
 47043    Australia
 47042    Australia
            ...
 35018    Australia
 35019    Australia
 35020    Australia
 35021    Australia
 35022    Australia
 Name: airline_country, Length: 68, dtype: object,
 35023    Australia
 35024    Australia
 35025    Australia
 35015    Australia
 35002    Australia
            ...
 35032    Australia
 35033    Australia
 35034    Australia
 35035    Australia
 35036    Australia
 Name: airline_country, Length: 68, dtype: object,
 35037    Australia
 35038    Australia
 35039    Australia
 35040    Australia
 35041    Australia
            ...
 25794    Australia
 25795    Australia
 25796    Australia
 25774    Australia
 25773    Australia
 Name: airline_country, Length: 68, dtype: object,
 25772    Australia
 34919    Australia
 34920    Australia
 34921    Australia
 34922    Australia
            ...
 46891    Australia
 46892    Australia
 46893    Australia
 46894    Australia
 46895    Australia
 Name: airline_country, Length: 68, dtype: object,
 46896    Australia
 46886    Australia
 46897    Australia
 46899    Australia
 46900    Australia
            ...
 46959    Australia
 46960    Australia
 46961    Australia
 46962    Australia
 46939    Australia
 Name: airline_country, Length: 68, dtype: object,
 46859    Australia
 46938    Australia
 46936    Australia
 46913    Australia
 46914    Australia
            ...
 46761    Australia
 46762    Australia
 46763    Australia
 46764    Australia
 46765    Australia
 Name: airline_country, Length: 68, dtype: object,
 46766    Australia
 46767    Australia
 46768    Australia
 46769    Australia
 46770    Australia
            ...
 46828    Australia
 46829    Australia
 46831    Australia
 61175    Australia
 25775    Australia
 Name: airline_country, Length: 68, dtype: object,
 61173    Australia
 60953    Australia
 60954    Australia
 60955    Australia
 60956    Australia
            ...
 67616    Australia
 67617    Australia
 67618    Australia
 67619    Australia
 67620    Australia
 Name: airline_country, Length: 68, dtype: object,
 67621    Australia
 67622    Australia
 67623    Australia
 67624    Australia
 61003    Australia
            ...
 49563    Australia
 49564    Australia
 67609    Australia
 67608    Australia
 67607    Australia
 Name: airline_country, Length: 68, dtype: object,
 67606    Australia
 67605    Australia
 67604    Australia
 67603    Australia
 67602    Australia
            ...
 60999    Australia
 67628    Australia
 67627    Australia
 61103    Australia
 61104    Australia
 Name: airline_country, Length: 68, dtype: object,
 61105    Australia
 61106    Australia
 61107    Australia
 61108    Australia
 61109    Australia
            ...
 61167    Australia
 61168    Australia
 61169    Australia
 61170    Australia
 61171    Australia
 Name: airline_country, Length: 68, dtype: object,
 61172    Australia
 61151    Australia
 61150    Australia
 61149    Australia
 61148    Australia
            ...
 67637    Australia
 67638    Australia
 67639    Australia
 67640    Australia
 67641    Australia
 Name: airline_country, Length: 68, dtype: object,
 67642    Australia
 67643    Australia
 67644    Australia
 67645    Australia
 67646    Australia
            ...
 44744      Austria
 44743      Austria
 44749      Austria
 44750      Austria
 44752      Austria
 Name: airline_country, Length: 68, dtype: object,
 44754    Austria
 44748    Austria
 44753    Austria
 44739    Austria
 44741    Austria
           ...
 44600    Austria
 44599    Austria
 44598    Austria
 44597    Austria
 44596    Austria
 Name: airline_country, Length: 68, dtype: object,
 44595    Austria
 51749    Austria
 44593    Austria
 44592    Austria
 44611    Austria
           ...
 44578    Austria
 44577    Austria
 44576    Austria
 44575    Austria
 44574    Austria
 Name: airline_country, Length: 68, dtype: object,
 44573    Austria
 44572    Austria
 44571    Austria
 44570    Austria
 44569    Austria
           ...
 44648    Austria
 44647    Austria
 44646    Austria
 44645    Austria
 44644    Austria
 Name: airline_country, Length: 68, dtype: object,
 44643    Austria
 44642    Austria
 44641    Austria
 44640    Austria
 44639    Austria
           ...
 30828    Austria
 30845    Austria
 30846    Austria
 30847    Austria
 419      Austria
 Name: airline_country, Length: 68, dtype: object,
 420      Austria
 421      Austria
 422      Austria
 423      Austria
 424      Austria
           ...
 30744    Austria
 30758    Austria
 30775    Austria
 30776    Austria
 30777    Austria
 Name: airline_country, Length: 68, dtype: object,
 30809    Austria
 30808    Austria
 30807    Austria
 30806    Austria
 30805    Austria
           ...
 51738    Austria
 51737    Austria
 51736    Austria
 51735    Austria
 51733    Austria
 Name: airline_country, Length: 68, dtype: object,
 51732    Austria
 51731    Austria
 51730    Austria
 51729    Austria
 51728    Austria
           ...
 58456    Bahamas
 58455    Bahamas
 58454    Bahamas
 58453    Bahamas
 58452    Bahamas
 Name: airline_country, Length: 68, dtype: object,
 58451    Bahamas
 58458    Bahamas
 58450    Bahamas
 58449    Bahamas
 58448    Bahamas
           ...
 46649    Bahamas
 46654    Bahamas
 46653    Bahamas
 29933    Bahrain
 29932    Bahrain
 Name: airline_country, Length: 68, dtype: object,
 29931    Bahrain
 29930    Bahrain
 29929    Bahrain
 29923    Bahrain
 29903    Bahrain
           ...
 29891    Bahrain
 29924    Bahrain
 29917    Bahrain
 29918    Bahrain
 29919    Bahrain
 Name: airline_country, Length: 68, dtype: object,
 29920       Bahrain
 29921       Bahrain
 29922       Bahrain
 29925       Bahrain
 29926       Bahrain
             ...
 14372    Bangladesh
 14373    Bangladesh
 14366    Bangladesh
 14374    Bangladesh
 14376    Bangladesh
 Name: airline_country, Length: 68, dtype: object,
 14377    Bangladesh
 14378    Bangladesh
 14379    Bangladesh
 14380    Bangladesh
 14381    Bangladesh
             ...
 13795       Belarus
 13794       Belarus
 13793       Belarus
 13791       Belarus
 13790       Belarus
 Name: airline_country, Length: 68, dtype: object,
 13789    Belarus
 13788    Belarus
 13787    Belarus
 13792    Belarus
 13811    Belarus
           ...
 13838    Belarus
 13839    Belarus
 13840    Belarus
 13849    Belarus
 13841    Belarus
 Name: airline_country, Length: 68, dtype: object,
 13842    Belarus
 13843    Belarus
 13844    Belarus
 13845    Belarus
 13846    Belarus
           ...
 50248    Belgium
 50249    Belgium
 50250    Belgium
 50238    Belgium
 50197    Belgium
 Name: airline_country, Length: 68, dtype: object,
 50293    Belgium
 50291    Belgium
 50360    Belgium
 50361    Belgium
 50362    Belgium
           ...
 50209    Belgium
 50210    Belgium
 54279    Belgium
 54278    Belgium
 54277    Belgium
 Name: airline_country, Length: 68, dtype: object,
 54276    Belgium
 54275    Belgium
 54274    Belgium
 50211    Belgium
 50212    Belgium
           ...
 50342    Belgium
 50343    Belgium
 50344    Belgium
 50205    Belgium
 50204    Belgium
 Name: airline_country, Length: 68, dtype: object,
 50203    Belgium
 50222    Belgium
 50223    Belgium
 50224    Belgium
 50225    Belgium
           ...
 42609     Belize
 42608     Belize
 42607     Belize
 42606     Belize
 42603     Belize
 Name: airline_country, Length: 68, dtype: object,
 42602                    Belize
 42605                    Belize
 46003                    Belize
 42616                    Belize
 4633                      Benin
                   ...
 66342                   Bolivia
 66343                   Bolivia
 66344                   Bolivia
 66345                   Bolivia
 33870    Bosnia and Herzegovina
 Name: airline_country, Length: 68, dtype: object,
 33869    Bosnia and Herzegovina
 33872    Bosnia and Herzegovina
 33867    Bosnia and Herzegovina
 33866    Bosnia and Herzegovina
 33865    Bosnia and Herzegovina
                   ...
 34447                    Brazil
 34456                    Brazil
 34438                    Brazil
 34439                    Brazil
 34440                    Brazil
 Name: airline_country, Length: 68, dtype: object,
 34441    Brazil
 34442    Brazil
 34443    Brazil
 34444    Brazil
 34445    Brazil
           ...
 34267    Brazil
 34266    Brazil
 34265    Brazil
 34264    Brazil
 34263    Brazil
 Name: airline_country, Length: 68, dtype: object,
 34262    Brazil
 34437    Brazil
 34260    Brazil
 34259    Brazil
 34258    Brazil
           ...
 34345    Brazil
 34344    Brazil
 34343    Brazil
 34342    Brazil
 34341    Brazil
 Name: airline_country, Length: 68, dtype: object,
 34340    Brazil
 34339    Brazil
 34338    Brazil
 34337    Brazil
 34336    Brazil
           ...
 34325    Brazil
 34324    Brazil
 34323    Brazil
 34322    Brazil
 34321    Brazil
 Name: airline_country, Length: 68, dtype: object,
 34320    Brazil
 34319    Brazil
 34318    Brazil
 34317    Brazil
 34316    Brazil
           ...
 8854     Brazil
 8855     Brazil
 8856     Brazil
 8857     Brazil
 8858     Brazil
 Name: airline_country, Length: 68, dtype: object,
 8859    Brazil
 8860    Brazil
 8861    Brazil
 8862    Brazil
 8863    Brazil
          ...
 8763    Brazil
 8764    Brazil
 8765    Brazil
 8766    Brazil
 8767    Brazil
 Name: airline_country, Length: 68, dtype: object,
 8768    Brazil
 8769    Brazil
 8770    Brazil
 8771    Brazil
 8772    Brazil
          ...
 8831    Brazil
 8832    Brazil
 8833    Brazil
 8834    Brazil
 8835    Brazil
 Name: airline_country, Length: 68, dtype: object,
 8836    Brazil
 8837    Brazil
 8827    Brazil
 8814    Brazil
 8813    Brazil
          ...
 8659    Brazil
 8658    Brazil
 8657    Brazil
 8656    Brazil
 8655    Brazil
 Name: airline_country, Length: 68, dtype: object,
 8654     Brazil
 8653     Brazil
 8652     Brazil
 8651     Brazil
 8650     Brazil
           ...
 63386    Brazil
 63385    Brazil
 63384    Brazil
 63383    Brazil
 8612     Brazil
 Name: airline_country, Length: 68, dtype: object,
 8699    Brazil
 2953    Brazil
 2951    Brazil
 8670    Brazil
 8669    Brazil
          ...
 2936    Brazil
 2937    Brazil
 2938    Brazil
 2928    Brazil
 2939    Brazil
 Name: airline_country, Length: 68, dtype: object,
 2941     Brazil
 2942     Brazil
 2943     Brazil
 2944     Brazil
 2945     Brazil
           ...
 44120    Brazil
 44121    Brazil
 44122    Brazil
 44123    Brazil
 44124    Brazil
 Name: airline_country, Length: 68, dtype: object,
 44097    Brazil
 44096    Brazil
 44095    Brazil
 44094    Brazil
 43307    Brazil
           ...
 44188    Brazil
 44175    Brazil
 43306    Brazil
 44159    Brazil
 44157    Brazil
 Name: airline_country, Length: 68, dtype: object,
 44129    Brazil
 44130    Brazil
 44131    Brazil
 44132    Brazil
 44133    Brazil
           ...
 47890    Brazil
 66226    Brazil
 66225    Brazil
 66224    Brazil
 7807     Brazil
 Name: airline_country, Length: 68, dtype: object,
 7808     Brazil
 7809     Brazil
 37831    Brazil
 37832    Brazil
 37833    Brazil
           ...
 8550     Brazil
 8551     Brazil
 8552     Brazil
 8553     Brazil
 8554     Brazil
 Name: airline_country, Length: 68, dtype: object,
 8555     Brazil
 8556     Brazil
 8557     Brazil
 8558     Brazil
 8559     Brazil
           ...
 34157    Brazil
 3309     Brazil
 3308     Brazil
 3292     Brazil
 3307     Brazil
 Name: airline_country, Length: 68, dtype: object,
 3305                     Brazil
 3304                     Brazil
 3303                     Brazil
 3302                     Brazil
 3301                     Brazil
                   ...
 34196                    Brazil
 34151                    Brazil
 65582    British Virgin Islands
 65581    British Virgin Islands
 65580    British Virgin Islands
 Name: airline_country, Length: 68, dtype: object,
 65579    British Virgin Islands
 65578    British Virgin Islands
 65577    British Virgin Islands
 15365                    Brunei
 15359                    Brunei
                   ...
 24575                  Bulgaria
 24582                  Bulgaria
 24540                  Bulgaria
 24541                  Bulgaria
 24542                  Bulgaria
 Name: airline_country, Length: 68, dtype: object,
 24543    Bulgaria
 24544    Bulgaria
 24545    Bulgaria
 24581    Bulgaria
 24547    Bulgaria
            ...
 2409        Burma
 2408        Burma
 2407        Burma
 2410        Burma
 2405        Burma
 Name: airline_country, Length: 68, dtype: object,
 12580      Burma
 2404       Burma
 2403       Burma
 2402       Burma
 2398       Burma
           ...
 28525    Burundi
 28730    Burundi
 28698    Burundi
 28729    Burundi
 28727    Burundi
 Name: airline_country, Length: 68, dtype: object,
 28700    Burundi
 28701    Burundi
 28702    Burundi
 28703    Burundi
 28704    Burundi
           ...
 28633    Burundi
 28632    Burundi
 28631    Burundi
 28630    Burundi
 28629    Burundi
 Name: airline_country, Length: 68, dtype: object,
 28628    Burundi
 28627    Burundi
 28626    Burundi
 28625    Burundi
 28624    Burundi
           ...
 28794    Burundi

The other thing I would like to do if I had the time would be to make it so the partition breaks don't fall in the middle of set of like keys.